html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: 0;
}

a {
  text-decoration: none;
  outline: 0;
  color: inherit;
}

input {
  border: none;
  outline: 0;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  outline: 0;
  cursor: pointer;
}

address {
  font-style: inherit;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1.3;
  color: #333;
  background-color: #fff;
}

.lock {
  overflow: hidden;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
  max-width: 158px;
  -webkit-transition: opacity 0.3s, -webkit-box-shadow 0.5s;
  transition: opacity 0.3s, -webkit-box-shadow 0.5s;
  transition: opacity 0.3s, box-shadow 0.5s;
  transition: opacity 0.3s, box-shadow 0.5s, -webkit-box-shadow 0.5s;
}

@media only screen and (max-width: 992px) {
  .logo {
    max-width: 120px;
  }
}

@media only screen and (max-width: 768px) {
  .logo {
    position: relative;
    z-index: 4;
  }
}

@media only screen and (max-width: 576px) {
  .logo {
    max-width: 110px;
  }
}

@media (min-width: 1025px) {
  .logo:hover {
    opacity: 0.7;
  }
}

.logo:focus {
  -webkit-box-shadow: 0 0 0 3px #2352DE;
          box-shadow: 0 0 0 3px #2352DE;
}

.logo:active {
  opacity: 0.5;
}

.section {
  padding: 140px 0;
}

@media only screen and (max-width: 992px) {
  .section {
    padding: 110px 0;
  }
}

@media only screen and (max-width: 768px) {
  .section {
    padding: 80px 0;
  }
}

@media only screen and (max-width: 576px) {
  .section {
    padding: 50px 0;
  }
}

.title {
  position: relative;
  display: inline-block;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 60px;
  z-index: 0;
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 42px;
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 576px) {
  .title {
    font-size: 28px;
    margin-bottom: 30px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.title:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 15px;
  background-color: rgba(35, 82, 222, 0.1);
  bottom: 5px;
  z-index: -1;
}

@media only screen and (max-width: 576px) {
  .title:before {
    height: 10px;
    bottom: 3px;
  }
}

.button {
  display: block;
  font-weight: 600;
  padding: 12px 24px;
  background-color: #2352DE;
  color: #fff;
  border: 1px solid #2352DE;
  -webkit-transition: background-color 0.3s, color 0.3s, -webkit-box-shadow 0.3s;
  transition: background-color 0.3s, color 0.3s, -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s, background-color 0.3s, color 0.3s;
  transition: box-shadow 0.3s, background-color 0.3s, color 0.3s, -webkit-box-shadow 0.3s;
}

.button:focus {
  -webkit-box-shadow: 0 0 0 3px rgba(35, 82, 222, 0.5);
          box-shadow: 0 0 0 3px rgba(35, 82, 222, 0.5);
}

@media (min-width: 1025px) {
  .button:hover {
    background-color: #fff;
    color: #2352DE;
  }
}

.button:active {
  -webkit-box-shadow: inset 0 7px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0 7px 4px rgba(0, 0, 0, 0.25);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  position: relative;
  padding-top: 75px;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #fff;
  z-index: 2;
}

@media only screen and (max-width: 768px) {
  .header {
    padding-top: 0;
  }
}

.header:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 0;
  background-color: rgba(35, 82, 222, 0.5);
}

.header__nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 768px) {
  .header__nav {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    padding: 30px 15px 15px;
    z-index: 3;
  }
}

@media only screen and (max-width: 768px) and (max-width: 576px) {
  .header__nav {
    padding: 15px 15px 10px;
  }
}

@media only screen and (max-width: 768px) {
  .header__nav:before {
    content: '';
    position: absolute;
    top: -30px;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .header__nav--animate {
    background-color: rgba(119, 146, 224, 0.8);
  }
}

.header__title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: calc(100vh - 127px);
  font-size: 48px;
  font-weight: 400;
  max-width: 700px;
  z-index: 2;
}

@media only screen and (max-width: 768px) {
  .header__title {
    max-width: 100%;
    height: calc(100vh - 50px);
    font-size: 38px;
  }
}

@media only screen and (max-width: 576px) {
  .header__title {
    height: calc(100vh + 50px);
    font-size: 28px;
  }
}

.header__text {
  display: block;
  font-weight: 700;
  font-size: 90px;
}

@media only screen and (max-width: 768px) {
  .header__text {
    font-size: 70px;
  }
}

@media only screen and (max-width: 576px) {
  .header__text {
    font-size: 40px;
  }
}

.header__link {
  position: absolute;
  font-weight: 600;
  font-size: 18px;
  bottom: 60px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-bottom: 1px solid transparent;
  -webkit-transition: opacity 0.3s, ease-in-out 0.3s, -webkit-box-shadow 0.3s;
  transition: opacity 0.3s, ease-in-out 0.3s, -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s, opacity 0.3s, ease-in-out 0.3s;
  transition: box-shadow 0.3s, opacity 0.3s, ease-in-out 0.3s, -webkit-box-shadow 0.3s;
  z-index: 2;
}

.header__link:focus {
  padding-bottom: 35px;
  bottom: 25px;
  -webkit-box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
  border-radius: 3px;
}

@media only screen and (max-width: 576px) {
  .header__link:focus {
    bottom: 15px;
  }
}

@media (min-width: 1025px) {
  .header__link:hover {
    border-color: #fff;
  }
}

.header__link:active {
  opacity: 0.7;
}

@media only screen and (max-width: 576px) {
  .header__link {
    font-size: 14px;
    bottom: 50px;
  }
}

.header__link:before {
  position: absolute;
  content: '';
  background-image: url(../images/header-img/arrow-bottom.svg);
  width: 37px;
  height: 21px;
  top: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.burger {
  display: none;
}

@media only screen and (max-width: 768px) {
  .burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 4;
  }
  .burger:before, .burger:after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
  .burger:before {
    top: 0;
  }
  .burger:after {
    bottom: 0;
  }
  .burger--active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .burger--active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .burger--active .burger__line {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

.burger__line {
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 2px;
  left: 0;
  top: 9px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 768px) {
  .menu {
    display: block;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 90px;
    text-align: center;
    background-color: #7792E0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: auto;
    z-index: 3;
  }
  .menu--active {
    top: 0;
  }
}

@media only screen and (max-width: 576px) {
  .menu {
    padding-top: 60px;
  }
}

@media only screen and (max-width: 768px) {
  .menu__item {
    font-size: 28px;
  }
}

@media only screen and (max-width: 576px) {
  .menu__item {
    font-size: 18px;
  }
}

.menu__item:not(:last-child) {
  margin-right: 35px;
}

@media only screen and (max-width: 992px) {
  .menu__item:not(:last-child) {
    margin-right: 25px;
  }
}

@media only screen and (max-width: 768px) {
  .menu__item:not(:last-child) {
    margin-right: 0;
  }
}

.menu__link {
  font-weight: 600;
  border-bottom: 1px solid transparent;
  -webkit-transition: opacity 0.3s, ease-in-out 0.3s, -webkit-box-shadow 0.3s;
  transition: opacity 0.3s, ease-in-out 0.3s, -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s, opacity 0.3s, ease-in-out 0.3s;
  transition: box-shadow 0.3s, opacity 0.3s, ease-in-out 0.3s, -webkit-box-shadow 0.3s;
}

@media only screen and (max-width: 768px) {
  .menu__link {
    display: block;
    padding: 20px 0;
    -webkit-transition: ease-in-out 0s;
    transition: ease-in-out 0s;
  }
}

@media only screen and (max-width: 567px) {
  .menu__link {
    padding: 11px 0;
  }
}

.menu__link:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
  border-radius: 3px;
}

@media only screen and (max-width: 768px) {
  .menu__link:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: none;
  }
}

@media (min-width: 1025px) {
  .menu__link:hover {
    border-color: #fff;
  }
}

.menu__link:active {
  opacity: 0.7;
}

@media only screen and (max-width: 768px) {
  .menu__link:active {
    background-color: rgba(35, 82, 222, 0.7);
  }
}

.about__content {
  line-height: 1.5;
}

@media only screen and (max-width: 576px) {
  .about__content {
    font-size: 16px;
    line-height: 1.6;
  }
}

.about__content p:not(:last-child) {
  margin-bottom: 30px;
}

@media only screen and (max-width: 576px) {
  .about__content p:not(:last-child) {
    margin-bottom: 16px;
  }
}

.skills {
  background-color: #F6F6F8;
}

.skills__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 768px) {
  .skills__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.skills__image {
  max-width: 415px;
  height: 450px;
  width: 100%;
  margin-right: 90px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 768px) {
  .skills__image {
    max-width: 90%;
    margin-right: 0;
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 576px) {
  .skills__image {
    max-width: 87%;
    margin-bottom: 25px;
    height: 325px;
  }
}

.skills__progress {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .skills__progress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
  }
}

@media only screen and (max-width: 576px) {
  .skills__progress {
    max-width: 87%;
  }
}

.skills__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .skills__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.skills__item:not(:last-child) {
  margin-bottom: 86px;
}

@media only screen and (max-width: 768px) {
  .skills__item:not(:last-child) {
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 576px) {
  .skills__item:not(:last-child) {
    margin-bottom: 18px;
  }
}

.skills__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 65px;
  font-weight: 600;
  text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
  .skills__name {
    display: block;
    text-align: center;
    margin-bottom: 5px;
  }
}

.skills__bar {
  position: relative;
  height: 32px;
  max-width: 600px;
  width: 100%;
  background-color: #DBDBED;
}

.skills__line {
  position: absolute;
  height: 32px;
  background-color: #2352DE;
}

.services__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 992px) {
  .services__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.services__item {
  position: relative;
  max-width: 28%;
  padding-top: 90px;
}

@media only screen and (max-width: 992px) {
  .services__item {
    max-width: 100%;
    padding-top: 0;
    padding-left: 100px;
  }
}

@media only screen and (max-width: 576px) {
  .services__item {
    padding-top: 50px;
    padding-left: 0;
  }
}

@media only screen and (max-width: 992px) {
  .services__item:not(:last-child) {
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 576px) {
  .services__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.services__item:before {
  position: absolute;
  content: '';
  width: 60px;
  height: 60px;
  top: 0;
  left: 0;
}

@media only screen and (max-width: 576px) {
  .services__item:before {
    width: 40px;
    height: 40px;
  }
}

.services__item--code:before {
  background-image: url(../images/services-icons/code-icon.svg);
}

.services__item--dev:before {
  background-image: url(../images/services-icons/dev-icon.svg);
}

.services__item--chat:before {
  background-image: url(../images/services-icons/chat-icon.svg);
}

.services__subtitle {
  margin-bottom: 25px;
  font-weight: 600;
  font-size: 28px;
}

@media only screen and (max-width: 576px) {
  .services__subtitle {
    margin-bottom: 15px;
    font-size: 20px;
  }
}

.services__text {
  font-size: 16px;
  line-height: 1.6;
}

.portfolio {
  padding-top: 0;
}

@media only screen and (max-width: 576px) {
  .portfolio {
    padding-top: 13px;
  }
}

.portfolio__title {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.portfolio__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
}

@media only screen and (max-width: 576px) {
  .portfolio__filter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
  }
}

.portfolio__item {
  font-weight: 600;
  font-size: 24px;
  border-bottom: 1px solid transparent;
  -webkit-transition: color 0.3s, ease-in-out 0.5s, -webkit-box-shadow 0.3s;
  transition: color 0.3s, ease-in-out 0.5s, -webkit-box-shadow 0.3s;
  transition: color 0.3s, box-shadow 0.3s, ease-in-out 0.5s;
  transition: color 0.3s, box-shadow 0.3s, ease-in-out 0.5s, -webkit-box-shadow 0.3s;
}

@media only screen and (max-width: 768px) {
  .portfolio__item {
    font-size: 20px;
    line-height: 1.6;
  }
}

@media only screen and (max-width: 576px) {
  .portfolio__item {
    font-size: 18px;
  }
}

.portfolio__item:not(:last-child) {
  margin-right: 35px;
}

@media only screen and (max-width: 768px) {
  .portfolio__item:not(:last-child) {
    margin-right: 15px;
  }
}

@media only screen and (max-width: 576px) {
  .portfolio__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

@media (min-width: 1025px) {
  .portfolio__item:hover {
    color: #2352DE;
    border-bottom: 1px solid #2352DE;
  }
}

.portfolio__btn:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(35, 82, 222, 0.5);
          box-shadow: 0 0 0 2px rgba(35, 82, 222, 0.5);
  border-radius: 3px;
}

.portfolio__board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 45px;
  margin-bottom: 60px;
}

@media only screen and (max-width: 1024px) {
  .portfolio__board {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    gap: 30px;
  }
}

@media only screen and (max-width: 576px) {
  .portfolio__board {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 15px;
    margin-bottom: 30px;
  }
}

.portfolio__image {
  width: 360px;
  height: 360px;
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

@media only screen and (max-width: 1200px) {
  .portfolio__image {
    width: 300px;
    height: 300px;
  }
}

@media only screen and (max-width: 992px) {
  .portfolio__image {
    width: 241px;
    height: 241px;
  }
}

@media only screen and (max-width: 768px) {
  .portfolio__image {
    width: 200px;
    height: 200px;
  }
}

@media only screen and (max-width: 576px) {
  .portfolio__image {
    width: 165px;
    height: 165px;
  }
}

.portfolio__image img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

@media (min-width: 1025px) {
  .portfolio__image img:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.portfolio__link:focus {
  -webkit-box-shadow: 0 0 5px 2px rgba(35, 82, 222, 0.7);
          box-shadow: 0 0 5px 2px rgba(35, 82, 222, 0.7);
}

.portfolio__button {
  margin: 0 auto;
}

.mixitup-control-active {
  color: #2352DE;
}

.reviews {
  background-color: #F6F6F8;
}

@media only screen and (max-width: 576px) {
  .reviews {
    position: relative;
  }
}

.reviews__title {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.reviews__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 992px) {
  .reviews__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 576px) {
  .reviews__wrapper {
    display: block;
  }
}

.reviews__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 400px;
  margin-right: 100px;
  text-align: center;
}

@media only screen and (max-width: 1200px) {
  .reviews__content {
    margin-right: 50px;
  }
}

@media only screen and (max-width: 992px) {
  .reviews__content {
    width: 100%;
    margin-right: 0;
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 576px) {
  .reviews__content {
    max-width: 345px;
    margin: 0 auto;
  }
}

.reviews__avatar {
  width: 130px;
  height: 130px;
  margin-bottom: 20px;
  border-radius: 50%;
  overflow: hidden;
}

@media only screen and (max-width: 576px) {
  .reviews__avatar {
    margin-bottom: 30px;
  }
}

.reviews__name {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 24px;
  color: #2352DE;
}

@media only screen and (max-width: 576px) {
  .reviews__name {
    font-size: 20px;
  }
}

.reviews__text {
  font-weight: 300;
  font-style: italic;
  font-size: 24px;
}

@media only screen and (max-width: 768px) {
  .reviews__text {
    font-size: 20px;
  }
}

@media only screen and (max-width: 576px) {
  .reviews__text {
    width: 280px;
    font-size: 16px;
  }
}

.reviews__video {
  position: relative;
  max-width: 570px;
  width: 100%;
  height: 400px;
}

@media only screen and (max-width: 1200px) {
  .reviews__video {
    max-width: 470px;
  }
}

@media only screen and (max-width: 992px) {
  .reviews__video {
    max-width: 100%;
    height: 325px;
  }
}

@media only screen and (max-width: 768px) {
  .reviews__video {
    max-width: 100%;
    height: 250px;
  }
}

@media only screen and (max-width: 576px) {
  .reviews__video {
    position: absolute;
    max-width: 60px;
    height: 60px;
    border-radius: 50%;
    top: 47%;
    left: 50%;
    -webkit-transform: translateX(40%);
            transform: translateX(40%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
  }
}

.reviews__video:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.reviews__video:after {
  content: '';
  position: absolute;
  width: 86px;
  height: 100px;
  background-image: url(../images/reviews-img/play.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media only screen and (max-width: 576px) {
  .reviews__video:after {
    width: 17px;
    height: 20px;
  }
}

@media (min-width: 1025px) {
  .reviews__video:hover:before {
    background-color: rgba(0, 0, 0, 0.6);
  }
  .reviews__video:hover:after {
    width: 130px;
    height: 150px;
  }
}

.reviews__video:focus {
  -webkit-box-shadow: 0 0 0 3px rgba(35, 82, 222, 0.5);
          box-shadow: 0 0 0 3px rgba(35, 82, 222, 0.5);
}

.reviews__video:active:before {
  background-color: rgba(0, 0, 0, 0.45);
}

.reviews__video:active:after {
  width: 52px;
  height: 60px;
}

@media only screen and (max-width: 576px) {
  .reviews__video:active:after {
    width: 23px;
    height: 28px;
  }
}

.stats__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .stats__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 15px;
  }
}

.stats__item {
  position: relative;
  padding: 150px 45px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  max-width: 280px;
  width: 100%;
  background-color: #F6F6F8;
  border: 1px solid #DBDBED;
  overflow: hidden;
}

@media only screen and (max-width: 1200px) {
  .stats__item {
    width: 24%;
  }
}

@media only screen and (max-width: 992px) {
  .stats__item {
    padding: 120px 10px 35px;
  }
}

@media only screen and (max-width: 768px) {
  .stats__item {
    width: 48%;
    padding: 100px 10px 30px;
  }
}

@media only screen and (max-width: 576px) {
  .stats__item {
    max-width: 165px;
    padding: 70px 15px 0;
  }
}

.stats__item:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 80px;
  top: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

@media only screen and (max-width: 992px) {
  .stats__item:before {
    height: 60px;
    top: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .stats__item:before {
    height: 45px;
  }
}

@media only screen and (max-width: 576px) {
  .stats__item:before {
    height: 35px;
    top: 22px;
  }
}

.stats__item--works:before {
  background-image: url(../images/stats-icons/works.svg);
}

.stats__item--clients:before {
  background-image: url(../images/stats-icons/clients.svg);
}

.stats__item--coffee:before {
  background-image: url(../images/stats-icons/coffee.svg);
}

.stats__item--reviews:before {
  background-image: url(../images/stats-icons/reviews.svg);
}

.stats__text {
  margin-top: auto;
  margin-bottom: auto;
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: 400;
}

@media only screen and (max-width: 576px) {
  .stats__text {
    font-size: 14px;
    line-height: 1.3;
    padding-bottom: 10px;
  }
}

.stats__num {
  font-weight: 600;
  font-size: 44px;
  line-height: 1;
}

@media only screen and (max-width: 992px) {
  .stats__num {
    font-size: 38px;
  }
}

@media only screen and (max-width: 576px) {
  .stats__num {
    font-size: 30px;
    margin-bottom: 25px;
  }
}

.contacts {
  padding-top: 0;
}

.contacts__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 992px) {
  .contacts__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 576px) {
  .contacts__wrapper {
    text-align: start;
  }
}

.contacts__content {
  display: inline-block;
  max-width: 540px;
  width: 100%;
}

@media only screen and (max-width: 1200px) {
  .contacts__content {
    max-width: 430px;
    margin-right: 30px;
  }
}

@media only screen and (max-width: 992px) {
  .contacts__content {
    max-width: 700px;
    margin-right: 0;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 992px) {
  .contacts__content {
    margin-bottom: 0;
  }
}

.contacts__text {
  display: block;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 30px;
}

@media only screen and (max-width: 992px) {
  .contacts__text {
    max-width: 100%;
    margin-bottom: 30px;
    font-size: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .contacts__text {
    font-size: 18px;
  }
}

@media only screen and (max-width: 576px) {
  .contacts__text {
    font-size: 16px;
    margin-bottom: 22px;
  }
}

@media only screen and (max-width: 992px) {
  .contacts {
    margin-bottom: 15px;
    font-size: 20px;
  }
}

.adress__link {
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
  color: #2352DE;
  font-size: 16px;
  -webkit-text-decoration-color: transparent;
          text-decoration-color: transparent;
  -webkit-transition: opacity 0.3s, ease-in-out 0.3s, -webkit-text-decoration-color 0.3s, -webkit-box-shadow 0.3s;
  transition: opacity 0.3s, ease-in-out 0.3s, -webkit-text-decoration-color 0.3s, -webkit-box-shadow 0.3s;
  transition: text-decoration-color 0.3s, box-shadow 0.3s, opacity 0.3s, ease-in-out 0.3s;
  transition: text-decoration-color 0.3s, box-shadow 0.3s, opacity 0.3s, ease-in-out 0.3s, -webkit-text-decoration-color 0.3s, -webkit-box-shadow 0.3s;
}

@media only screen and (max-width: 768px) {
  .adress__link {
    margin-bottom: 15px;
    font-size: 18px;
  }
}

@media only screen and (max-width: 576px) {
  .adress__link {
    margin-bottom: 10px;
    font-size: 16px;
  }
}

@media (min-width: 1025px) {
  .adress__link:hover {
    -webkit-text-decoration: underline #2352DE;
            text-decoration: underline #2352DE;
  }
}

.adress__link:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(35, 82, 222, 0.5);
          box-shadow: 0 0 0 2px rgba(35, 82, 222, 0.5);
  border-radius: 3px;
}

.adress__link:active {
  opacity: 0.7;
}

.adress__link--email {
  margin-bottom: 20px;
}

@media only screen and (max-width: 992px) {
  .adress__link--email {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 576px) {
  .adress__link--email {
    margin-bottom: 30px;
  }
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 992px) {
  .social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 576px) {
  .social {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin-bottom: 30px;
  }
}

.social__icon {
  display: block;
  width: 44px;
  height: 44px;
  -webkit-transition: opacity 0.3s, ease-in-out 0.3s, -webkit-box-shadow 0.3s;
  transition: opacity 0.3s, ease-in-out 0.3s, -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s, opacity 0.3s, ease-in-out 0.3s;
  transition: box-shadow 0.3s, opacity 0.3s, ease-in-out 0.3s, -webkit-box-shadow 0.3s;
}

.social__icon:not(:last-child) {
  margin-right: 15px;
}

.social__link {
  display: block;
  width: 44px;
  height: 44px;
}

@media (min-width: 1025px) {
  .social__link:hover {
    opacity: 0.7;
  }
}

.social__link:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(35, 82, 222, 0.5);
          box-shadow: 0 0 0 2px rgba(35, 82, 222, 0.5);
  border-radius: 3px;
}

.social__link:active {
  -webkit-box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  max-width: 540px;
}

@media only screen and (max-width: 992px) {
  .form {
    max-width: 700px;
  }
}

@media only screen and (max-width: 576px) {
  .form {
    width: 100%;
  }
}

.form__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
}

@media only screen and (max-width: 768px) {
  .form__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 576px) {
  .form__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 0;
  }
}

.form__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 47%;
}

@media only screen and (max-width: 768px) {
  .form__inner {
    width: 100%;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 576px) {
  .form__inner {
    width: 100%;
    margin-bottom: 15px;
  }
}

.form__message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.form__title {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 992px) {
  .form__title {
    font-size: 18px;
  }
}

@media only screen and (max-width: 768px) {
  .form__title {
    border-bottom: 15px;
  }
}

@media only screen and (max-width: 576px) {
  .form__title {
    font-size: 14px;
  }
}

.form__field {
  background-color: #F6F6F8;
  padding: 13px 15px;
  font-size: 14px;
  color: #9C9CAB;
  -webkit-transition: color 0.3s, -webkit-box-shadow 0.3s;
  transition: color 0.3s, -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s, color 0.3s;
  transition: box-shadow 0.3s, color 0.3s, -webkit-box-shadow 0.3s;
}

@media only screen and (max-width: 992px) {
  .form__field {
    font-size: 18px;
  }
}

@media only screen and (max-width: 576px) {
  .form__field {
    font-size: 14px;
  }
}

.form__field:focus {
  -webkit-box-shadow: 0 0 0 3px rgba(35, 82, 222, 0.5);
          box-shadow: 0 0 0 3px rgba(35, 82, 222, 0.5);
}

@media (min-width: 1025px) {
  .form__field:hover {
    color: #000000;
  }
}

.form__field--text {
  height: 115px;
  padding: 13px 15px;
  margin-bottom: 30px;
  border: none;
  font-size: 14px;
  color: #9C9CAB;
  background-color: #F6F6F8;
  resize: vertical;
  -webkit-transition: color 0.3s, -webkit-box-shadow 0.3s;
  transition: color 0.3s, -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s, color 0.3s;
  transition: box-shadow 0.3s, color 0.3s, -webkit-box-shadow 0.3s;
}

@media only screen and (max-width: 992px) {
  .form__field--text {
    height: 150px;
    font-size: 18px;
  }
}

@media only screen and (max-width: 576px) {
  .form__field--text {
    height: 115px;
    margin-bottom: 15px;
    font-size: 14px;
  }
}

.form__field--text:focus {
  -webkit-box-shadow: 0 0 0 3px rgba(35, 82, 222, 0.5);
          box-shadow: 0 0 0 3px rgba(35, 82, 222, 0.5);
}

@media (min-width: 1025px) {
  .form__field--text:hover {
    color: #000000;
  }
}

.form__button {
  margin-right: auto;
}

@media only screen and (max-width: 992px) {
  .form__button {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 576px) {
  .form__button {
    margin: 0 auto 0 0;
  }
}

.footer {
  padding: 50px 0;
  background-color: #343740;
}

@media only screen and (max-width: 576px) {
  .footer {
    padding: 32px 0;
  }
}

.footer__logo {
  display: block;
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */