html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  outline: 0;
  color: inherit;
}

input {
  border: none;
  outline: 0;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  outline: 0;
  cursor: pointer;
}

address {
  font-style: inherit;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1.3;
  color: #333;
  background-color: #fff;
}

.lock {
  overflow: hidden;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

@media only screen and (max-width: 992px) {
  .heading {
    text-align: center;
  }
}

.same-indent {
  padding: 140px 0;
}
@media only screen and (max-width: 768px) {
  .same-indent {
    padding: 80px 0;
  }
}
@media only screen and (max-width: 576px) {
  .same-indent {
    padding: 50px 0;
  }
}

.title {
  position: relative;
  display: inline-block;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 60px;
  z-index: 0;
}
@media only screen and (max-width: 768px) {
  .title {
    font-size: 42px;
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 576px) {
  .title {
    font-size: 28px;
    margin-bottom: 30px;
  }
}
.title:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 15px;
  background: rgba(35, 82, 222, 0.1);
  bottom: 5px;
  z-index: -1;
}
@media only screen and (max-width: 576px) {
  .title:before {
    height: 10px;
    bottom: 3px;
  }
}

.header {
  position: relative;
  padding-top: 75px;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #fff;
  z-index: 2;
}
@media only screen and (max-width: 768px) {
  .header {
    padding-top: 0;
  }
}
.header:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 0;
  background-color: rgba(35, 82, 222, 0.5);
}
@media only screen and (max-width: 768px) {
  .header__top {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    padding: 30px 0 15px;
    z-index: 3;
  }
}
@media only screen and (max-width: 768px) and (max-width: 576px) {
  .header__top {
    padding: 15px 0 10px;
  }
}
@media only screen and (max-width: 768px) {
  .header__top:before {
    content: "";
    position: absolute;
    top: -30px;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .header__top--animate {
    background-color: rgba(119, 146, 224, 0.8);
  }
}
.header__navigation {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  max-width: 158px;
  -webkit-transition: opacity 0.3s, -webkit-box-shadow 0.5s;
  transition: opacity 0.3s, -webkit-box-shadow 0.5s;
  transition: opacity 0.3s, box-shadow 0.5s;
  transition: opacity 0.3s, box-shadow 0.5s, -webkit-box-shadow 0.5s;
}
@media only screen and (max-width: 992px) {
  .header__logo {
    max-width: 120px;
  }
}
@media only screen and (max-width: 768px) {
  .header__logo {
    max-width: 120px;
    position: relative;
    z-index: 4;
  }
}
@media only screen and (max-width: 576px) {
  .header__logo {
    max-width: 110px;
  }
}
.header__logo:focus {
  -webkit-box-shadow: 0 0 0 3px #2352DE;
          box-shadow: 0 0 0 3px #2352DE;
}
.header__logo:hover {
  opacity: 0.7;
}
.header__logo:active {
  opacity: 0.5;
}
.header__burger {
  display: none;
}
@media only screen and (max-width: 768px) {
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 4;
  }
  .header__burger:before, .header__burger:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger--active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header__burger--active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger--active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
.header__burger span {
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 2px;
  left: 0;
  top: 9px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
@media only screen and (max-width: 768px) {
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 90px;
    background-color: #7792E0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: auto;
    z-index: 3;
  }
  .header__menu--active {
    top: 0;
  }
}
@media only screen and (max-width: 576px) {
  .header__menu {
    padding-top: 60px;
  }
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (max-width: 768px) {
  .header__list {
    display: block;
    text-align: center;
  }
}
@media only screen and (max-width: 768px) {
  .header__item {
    font-size: 28px;
  }
}
@media only screen and (max-width: 576px) {
  .header__item {
    font-size: 18px;
  }
}
.header__item:not(:last-child) {
  margin-right: 35px;
}
@media only screen and (max-width: 992px) {
  .header__item:not(:last-child) {
    margin-right: 25px;
  }
}
@media only screen and (max-width: 768px) {
  .header__item:not(:last-child) {
    margin-right: 0;
  }
}
.header__link {
  font-weight: 600;
  border-bottom: 1px solid transparent;
  -webkit-transition: opacity 0.3s, ease-in-out 0.3s, -webkit-box-shadow 0.3s;
  transition: opacity 0.3s, ease-in-out 0.3s, -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s, opacity 0.3s, ease-in-out 0.3s;
  transition: box-shadow 0.3s, opacity 0.3s, ease-in-out 0.3s, -webkit-box-shadow 0.3s;
}
@media only screen and (max-width: 768px) {
  .header__link {
    display: block;
    padding: 20px 0;
    -webkit-transition: ease-in-out 0s;
    transition: ease-in-out 0s;
  }
}
@media only screen and (max-width: 567px) {
  .header__link {
    padding: 11px 0;
  }
}
.header__link:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
  border-radius: 3px;
}
@media only screen and (max-width: 768px) {
  .header__link:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: none;
  }
}
.header__link:hover {
  border-color: #fff;
}
@media only screen and (max-width: 768px) {
  .header__link:hover {
    border-bottom: none;
    background-color: rgba(35, 82, 222, 0.7);
  }
}
.header__link:active {
  opacity: 0.7;
}
@media only screen and (max-width: 768px) {
  .header__link:active {
    background-color: rgba(35, 82, 222, 0.7);
  }
}
.header__link-content {
  position: absolute;
  font-weight: 600;
  font-size: 18px;
  bottom: 60px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-bottom: 1px solid transparent;
  -webkit-transition: opacity 0.3s, ease-in-out 0.3s, -webkit-box-shadow 0.3s;
  transition: opacity 0.3s, ease-in-out 0.3s, -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s, opacity 0.3s, ease-in-out 0.3s;
  transition: box-shadow 0.3s, opacity 0.3s, ease-in-out 0.3s, -webkit-box-shadow 0.3s;
  z-index: 2;
}
.header__link-content:focus {
  padding-bottom: 35px;
  bottom: 25px;
  -webkit-box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
  border-radius: 3px;
}
@media only screen and (max-width: 576px) {
  .header__link-content:focus {
    bottom: 15px;
  }
}
.header__link-content:hover {
  border-color: #fff;
}
.header__link-content:active {
  opacity: 0.7;
}
@media only screen and (max-width: 576px) {
  .header__link-content {
    font-size: 14px;
    bottom: 50px;
  }
}
.header__link-content:before {
  position: absolute;
  content: "";
  background-image: url(../images/arrow-bottom.svg);
  width: 37px;
  height: 21px;
  top: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.header__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(100vh - 127px);
  z-index: 2;
}
@media only screen and (max-width: 768px) {
  .header__content {
    height: calc(100vh - 50px);
  }
}
.header__title {
  font-size: 48px;
  font-weight: 400;
  max-width: 60%;
}
@media only screen and (max-width: 768px) {
  .header__title {
    font-size: 38px;
    width: 100%;
  }
}
@media only screen and (max-width: 576px) {
  .header__title {
    font-size: 28px;
  }
}
.header span {
  display: block;
  font-weight: 700;
  font-size: 90px;
}
@media only screen and (max-width: 768px) {
  .header span {
    font-size: 70px;
  }
}
@media only screen and (max-width: 576px) {
  .header span {
    font-size: 40px;
  }
}

.about p {
  line-height: 1.5;
  margin-bottom: 30px;
}
@media only screen and (max-width: 576px) {
  .about p {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.6;
  }
}
.about p:last-child {
  margin-bottom: 0;
}

.skills {
  background-color: #F6F6F8;
}
.skills__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (max-width: 768px) {
  .skills__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.skills__image {
  max-width: 415px;
  height: 450px;
  width: 100%;
  margin-right: 90px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (max-width: 768px) {
  .skills__image {
    max-width: 90%;
    margin-right: 0;
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 576px) {
  .skills__image {
    margin-bottom: 25px;
    height: 325px;
  }
}
.skills__progress {
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .skills__progress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
  }
}
.skills__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media only screen and (max-width: 768px) {
  .skills__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.skills__item:not(:last-child) {
  margin-bottom: 86px;
}
@media only screen and (max-width: 768px) {
  .skills__item:not(:last-child) {
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 576px) {
  .skills__item:not(:last-child) {
    margin-bottom: 18px;
  }
}
.skills__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 65px;
  font-weight: 600;
  text-transform: uppercase;
}
@media only screen and (max-width: 768px) {
  .skills__name {
    display: block;
    text-align: center;
    margin-bottom: 5px;
  }
}
.skills__bar {
  position: relative;
  height: 32px;
  max-width: 600px;
  width: 100%;
  background-color: #DBDBED;
}
.skills__line {
  position: absolute;
  height: 32px;
  background-color: #2352DE;
}

.services__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media only screen and (max-width: 992px) {
  .services__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.services__item {
  position: relative;
  max-width: 28%;
  padding-top: 90px;
}
@media only screen and (max-width: 992px) {
  .services__item {
    max-width: 100%;
    padding-top: 0;
    padding-left: 100px;
  }
}
@media only screen and (max-width: 576px) {
  .services__item {
    padding-top: 50px;
    padding-left: 0;
  }
}
@media only screen and (max-width: 992px) {
  .services__item:not(:last-child) {
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 576px) {
  .services__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
.services__item:before {
  position: absolute;
  content: "";
  width: 60px;
  height: 60px;
  top: 0;
  left: 0;
}
@media only screen and (max-width: 576px) {
  .services__item:before {
    width: 40px;
    height: 40px;
  }
}
.services__item--code:before {
  background-image: url(../images/code-icon.svg);
}
.services__item--dev:before {
  background-image: url(../images/dev-icon.svg);
}
.services__item--chat:before {
  background-image: url(../images/chat-icon.svg);
}
.services__subtitle {
  margin-bottom: 25px;
  font-weight: 600;
  font-size: 28px;
}
@media only screen and (max-width: 576px) {
  .services__subtitle {
    margin-bottom: 15px;
    font-size: 20px;
  }
}
.services__subtitle p {
  font-size: 16px;
  line-height: 1.6;
}

.portfolio {
  padding-top: 0;
}
@media only screen and (max-width: 576px) {
  .portfolio {
    padding-top: 13px;
  }
}
.portfolio__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
}
@media only screen and (max-width: 576px) {
  .portfolio__filter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin-bottom: 30px;
  }
}
.portfolio__btn {
  font-weight: 600;
  font-size: 24px;
  border-bottom: 1px solid transparent;
  -webkit-transition: color 0.3s, ease-in-out 0.5s, -webkit-box-shadow 0.3s;
  transition: color 0.3s, ease-in-out 0.5s, -webkit-box-shadow 0.3s;
  transition: color 0.3s, box-shadow 0.3s, ease-in-out 0.5s;
  transition: color 0.3s, box-shadow 0.3s, ease-in-out 0.5s, -webkit-box-shadow 0.3s;
}
@media only screen and (max-width: 768px) {
  .portfolio__btn {
    font-size: 20px;
    line-height: 1.6;
  }
}
@media only screen and (max-width: 576px) {
  .portfolio__btn {
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
  }
}
.portfolio__btn:not(:last-child) {
  margin-right: 35px;
}
@media only screen and (max-width: 768px) {
  .portfolio__btn:not(:last-child) {
    margin-right: 15px;
  }
}
@media only screen and (max-width: 576px) {
  .portfolio__btn:not(:last-child) {
    margin-right: auto;
    margin-bottom: 15px;
  }
}
.portfolio__btn:focus {
  -webkit-box-shadow: 0px 0px 0px 2px rgba(35, 82, 222, 0.5);
          box-shadow: 0px 0px 0px 2px rgba(35, 82, 222, 0.5);
  border-radius: 3px;
}
.portfolio__btn:hover {
  color: #2352DE;
  border-bottom: 1px solid #2352DE;
}
.portfolio__board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 45px;
  margin-bottom: 60px;
}
@media only screen and (max-width: 992px) {
  .portfolio__board {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    gap: 30px;
  }
}
@media only screen and (max-width: 576px) {
  .portfolio__board {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 15px;
  }
}
.portfolio__image {
  width: 360px;
  height: 360px;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.portfolio__image:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
@media only screen and (max-width: 1200px) {
  .portfolio__image {
    width: 300px;
    height: 300px;
  }
}
@media only screen and (max-width: 992px) {
  .portfolio__image {
    width: 241px;
    height: 241px;
  }
}
@media only screen and (max-width: 992px) {
  .portfolio__image {
    width: 200px;
    height: 200px;
  }
}
@media only screen and (max-width: 576px) {
  .portfolio__image {
    width: 165px;
    height: 165px;
  }
}
.portfolio__image img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}
.portfolio__image img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
.portfolio__more {
  display: block;
  font-weight: 600;
  padding: 12px 24px;
  background-color: #2352DE;
  color: #fff;
  margin: 0 auto;
  border: 1px solid #2352DE;
}
.portfolio__more:focus {
  -webkit-box-shadow: 0px 0px 0px 3px rgba(35, 82, 222, 0.5);
          box-shadow: 0px 0px 0px 3px rgba(35, 82, 222, 0.5);
}
.portfolio__more:hover {
  background-color: #fff;
  color: #2352DE;
}
.portfolio__more:active {
  -webkit-box-shadow: inset 0px 7px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 7px 4px rgba(0, 0, 0, 0.25);
}

.mixitup-control-active {
  color: #2352DE;
}/*# sourceMappingURL=style.css.map */