.about {
    
    &__text {
        line-height: 1.5;

        @include r(576) {
            font-size: 16px;
            line-height: 1.6;
        }

        &+& {
            margin-top: 30px;

            @include r(576) {
                margin-top: 16px;
            }

        }

    }

}


