.about {
    &__content {
        line-height: 1.5;

        @include r(576) {
            font-size: 16px;
            line-height: 1.6;
        }

        p:not(:last-child) {
            margin-bottom: 30px;

            @include r(576) {
                margin-bottom: 16px;
            }
        }
    }
}