.portfolio {
    @include r(576) {
        padding-top: 13px;
    }

    &__title {
        left: 50%;
        transform: translateX(-50%);
    }

    &__filter {
        display: flex;
        justify-content: center;
        margin-bottom: 60px;

        @include r(576) {
            flex-direction: column;
            align-items: center;
            margin-bottom: 30px;
        }
    }

    &__item {
        font-weight: 600;
        font-size: 24px;
        border-bottom: 1px solid transparent;
        transition: color 0.3s, box-shadow 0.3s, ease-in-out 0.5s;

        @include r(768) {
            font-size: 20px;
            line-height: 1.6;
        }

        @include r(576) {
            font-size: 18px;
        }

        &:not(:last-child) {
            margin-right: 35px;

            @include r(768) {
                margin-right: 15px;
            }

            @include r(576) {
                margin-right: 0;
                margin-bottom: 15px;
            }
        }

        @include desktop {
            &:hover {
                color: $secondary;
                border-bottom: 1px solid $secondary;
            }
        }

    }

    &__btn {
        &:focus {
            box-shadow: 0 0 0 2px rgba(35, 82, 222, 0.5);
            border-radius: 3px;
        }
    }

    &__board {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 45px;
        margin-bottom: 60px;

        @include r(1024) {
            justify-content: space-evenly;
            gap: 30px;
        }

        @include r(576) {
            justify-content: center;
            gap: 15px;
            margin-bottom: 30px;
        }
    }

    &__image {
        width: 360px;
        height: 360px;
        background-image: url(../images);
        transition: box-shadow 0.3s ease-in-out;

        @include r(1200) {
            width: 300px;
            height: 300px;
        }

        @include r(992) {
            width: 241px;
            height: 241px;
        }

        @include r(768) {
            width: 200px;
            height: 200px;
        }

        @include r(576) {
            width: 165px;
            height: 165px;
        }

        img {
            height: 100%;
            object-fit: cover;
            transition: transform 0.5s ease-in-out;

            @include desktop {
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }

    &__link {
        &:focus {
            box-shadow: 0 0 5px 2px rgba(35, 82, 222, 0.7);
        }
    }

    &__button {
        margin: 0 auto;
    }
}

.mixitup-control-active {
    color: $secondary;
}