.skills {
    background-color: #F6F6F8;

    &__wrapper {
        display: flex;
        align-items: center;

        @include r(768) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__image {
        max-width: 415px;
        height: 450px;
        width: 100%;
        margin-right: 90px;
        object-fit: cover;

        @include r(768) {
            max-width: 90%;
            margin-right: 0;
            margin-bottom: 50px;
        }

        @include r(576) {
            max-width: 87%;
            margin-bottom: 25px;
            height: 325px;
        }

    }

    &__progress {
        width: 100%;

        @include r(768) {
            display: flex;
            flex-direction: column;
            width: 90%;
        }

        @include r(576) {
            max-width: 87%;
        }
    }

    &__item {
        display: flex;
        justify-content: space-between;

        @include r(768) {
            flex-direction: column;
            align-items: center;
        }

        &:not(:last-child) {
            margin-bottom: 86px;

            @include r(768) {
                margin-bottom: 50px;
            }

            @include r(576) {
                margin-bottom: 18px;
            }
        }
    }

    &__name {
        display: flex;
        align-items: center;
        width: 65px;
        font-weight: 600;
        text-transform: uppercase;

        @include r(768) {
            display: block;
            text-align: center;
            margin-bottom: 5px;
        }

    }

    &__bar {
        position: relative;
        height: 32px;
        max-width: 600px;
        width: 100%;
        background-color: #DBDBED;
    }

    &__line {
        position: absolute;
        height: 32px;
        background-color: $secondary;
    }
}