.stats {
    &__wrapper {
        display: flex;
        justify-content: space-between;

        @include r(768) {
            flex-wrap: wrap;
            justify-content: center;
            gap: 15px;
        }
    }

    &__item {
        position: relative;
        padding: 150px 45px 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 280px;
        width: 100%;
        background-color: $light-bg;
        border: 1px solid $brd-light;
        overflow: hidden;

        @include r(1200) {
            width: 24%;
        }

        @include r(992) {
            padding: 120px 10px 35px;
        }

        @include r(768) {
            width: 48%;
            padding: 100px 10px 30px;
        }

        @include r(576) {
            max-width: 165px;
            padding: 70px 15px 0;
        }

        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 80px;
            top: 50px;
            left: 50%;
            transform: translateX(-50%);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;

            @include r(992) {
                height: 60px;
                top: 30px;
            }

            @include r(768) {
                height: 45px;
            }

            @include r(576) {
                height: 35px;
                top: 22px;
            }
        }

        &--works {
            &:before {
                background-image: url(../images/stats-icons/works.svg);
            }
        }

        &--clients {
            &:before {
                background-image: url(../images/stats-icons/clients.svg);
            }
        }

        &--coffee {
            &:before {
                background-image: url(../images/stats-icons/coffee.svg);
            }
        }

        &--reviews {
            &:before {
                background-image: url(../images/stats-icons/reviews.svg);
            }
        }
    }

    &__text {
        margin-top: auto;
        margin-bottom: auto;
        padding-bottom: 20px;
        font-size: 18px;
        font-weight: 400;


        @include r(992) {
            // max-width: 160px;
        }

        @include r(576) {
            font-size: 14px;
            line-height: 1.3;
            padding-bottom: 10px;
        }
    }

    &__num {
        font-weight: 600;
        font-size: 44px;
        line-height: 1;


        @include r(992) {
            font-size: 38px;
        }

        @include r(576) {
            font-size: 30px;
            margin-bottom: 25px;
        }
    }
}