.stats {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        text-align: center;

        @include r(768) {
            flex-wrap: wrap;
            justify-content: center;
            gap: 15px;
        }
    }

    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        padding: 0 10px 50px;
        max-width: 280px;
        height: 287px;
        width: 100%;
        background-color: $light-bg;
        border: 1px solid $brd-light;

        @include r(1200) {
            width: 24%;
        }

        @include r(992) {
            min-height: 240px;
            padding: 0 10px 35px;
        }

        @include r(768) {
            width: 48%;
            min-height: 220px;
            padding: 0 10px 30px;
        }

        @include r(576) {
            justify-content: flex-end;
            width: 47%;
            min-height: 170px;
            height: 100%;
            padding: 0 10px 25px;
        }

        &:before {
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            height: 80px;
            top: 50px;
            left: 0px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;

            @include r(992) {
                height: 60px;
                top:30px;
            }
            @include r(768) {
                height: 45px;
            }
            @include r(576) {
                height: 35px;
                top: 22px;
            }
        }

        &--works {
            &:before {
                background-image: url(../images/stats-icons/works.svg);
            }
        }

        &--clients {
            &:before {
                background-image: url(../images/stats-icons/clients.svg);
            }
        }

        &--coffee {
            &:before {
                background-image: url(../images/stats-icons/coffee.svg);
            }
        }

        &--reviews {
            &:before {
                background-image: url(../images/stats-icons/reviews.svg);
            }
        }
    }

    &__text {
        max-width: 200px;
        padding-bottom: 20px;
        margin-top: auto;
        font-weight: 400;
        font-size: 18px;


        @include r(992) {
            // max-width: 160px;
        }

        @include r(576) {
            max-width: 130px;
            padding-bottom: 0;
            font-size: 14px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &__num {
        font-weight: 600;
        font-size: 44px;
        line-height: 1;


        @include r(992) {
            font-size: 38px;
        }

        @include r(576) {
            font-size: 30px;

        }
    }
}